body{
background-color: #f8f9fa;
}
h1{
  text-align: center;
  color: darkcyan;}
.sub{
  color: rgb(56, 58, 58);
  text-align: center;
}
#mid{
  color: darkslategray;
  text-align: justify;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Roboto', sans-serif;
}
.Flogo{
  height: 80px;
  width : 80px;
}
footer {
  text-align: center;
}
h5 {
  color: rgb(0, 0, 0);
  font-size: smaller;
  font-family: 'Courier New', Courier, monospace;
}
.topnav {
  background-color: #333;
  overflow: hidden;
}
.brandlogo{
  height: 40px;
  width: 40px;
}
#Myname{
  transition: ease-in-out 1s;
  font-size: 60px;
  font-family: 'Teko', sans-serif;
}
#Myname:hover{
 font-size: 80px;
}
#githublink{
  text-decoration: none;
  color: #333;
}
#cllglink{
  text-decoration: none;
  color: black;
  font-weight: bolder;
}